.App {
  font-family: sans-serif;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.App > div {
  margin: 500px 0;
}

html {
  background-color: black;
  padding: 0;
  margin: 0;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 5s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  background-color: peru;
}

h1 {
  position: fixed;
}
